body { font-family: monospace; }
a { cursor: pointer; }
.pagetitle:hover { cursor: pointer; }
.filelist li:hover { background-color: #337ab7; cursor: pointer; }
.filename:hover { background-color: #337ab7; cursor: pointer; }
.highlight { background-color: #337ab7; color: #ffffff; font-weight: bold; }
.return-to-top { bottom: 20px; display: none; height: 50px; position: fixed; right: 20px; width: 50px; }
.resultbadge { display: table-cell; padding-right: 15px; vertical-align: middle; }
.resulttext { display: table-cell; }

/* codestyle */
div.sourceLine, a.sourceLine { display: inline-block; min-height: 1.25em; }
a.sourceLine { color: inherit; pointer-events: none; text-decoration: inherit; }
.sourceCode { white-space: pre; }
.kw { color: #007020; font-weight: bold; }
.dt { color: #902000; }
.dv { color: #40a070; }
.bn { color: #40a070; }
.fl { color: #40a070; }
.ch { color: #4070a0; }
.st { color: #4070a0; }
.co { color: #60a0b0; font-style: italic; }
.ot { color: #007020; }
.al { color: #ff0000; font-weight: bold; }
.fu { color: #06287e; }
.er { color: #ff0000; font-weight: bold; }
.wa { color: #60a0b0; font-style: italic; font-weight: bold; }
.cn { color: #880000; }
.sc { color: #4070a0; }
.vs { color: #4070a0; }
.ss { color: #bb6688; }
.va { color: #19177c; }
.cf { color: #007020; font-weight: bold; }
.op { color: #666666; }
.pp { color: #bc7a00; }
.at { color: #7d9029; }
.do { color: #ba2121; font-style: italic; }
.an { color: #60a0b0; font-style: italic; font-weight: bold; }
.cv { color: #60a0b0; font-style: italic; font-weight: bold; }
.in { color: #60a0b0; font-style: italic; font-weight: bold; }
